<%- include('out/header') -%>
<link rel="stylesheet" href="/src/styles/css/authcomplete.css">
<title>Successful Login</title>

<div class="content">
    <div class="content__card">
        <h1>Logged in to <span><%= login %></span></h1>
        <div class="card__btn">
            <a href="/diary">Go to the main page</a>
        </div>
    </div>
</div>

<%- include('out/footer') -%>